body {
  margin-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 150%;
  font-size: 1.6em;
  background: #eee;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  color: #679cdd;
  font-weight: 100;
  line-height: 130%;
}
p {
  font-size: 1.0em;
}
a {
  font-size: 1.0em;
}
h3 a {
  font-size: 1.0em;
}
h3.col-sm-12 {
  margin: 10px 0 15px 0;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: flexslider-icon;
  font-size: 40px;
  display: inline-block;
  content: '\f001';
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: .7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: .7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: .8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: flexslider-icon;
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.fa-fw,
.fa-li,
.flex-control-nav {
  text-align: center;
}
.flex-control-nav {
  width: 100%;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.fa.fa-pull-left,
.fa.pull-left {
  margin-right: 0.3em;
}
.fa,
.fa-stack {
  display: inline-block;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
#print-template {
  margin-top: 0 !important;
}
.resume-header {
  padding: 15px;
  background: #fff;
}
.resume-header h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  line-height: 0;
}
.resume-header h3 small {
  font-size: 23px;
  font-weight: 100;
  color: #aaa;
}
.resume-header p {
  margin: 10px 0 5px;
  font-size: 12px;
  line-height: 0;
}
.resume-header.top {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.resume-header.bottom {
  margin-top: 20px;
  border-top: 1px solid #ddd;
}
.resume-header:after {
  content: ' ';
  clear: both;
  display: table;
}
#admin-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-brand {
  font-size: 14px;
}
.navbar-brand .logo {
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
}
.navbar-brand .logo-main {
  font-weight: 400;
  color: #666;
}
.navbar-brand .logo-sub {
  font-weight: 100;
  color: #999;
}
.navbar-brand:hover .logo-main {
  color: #333;
}
.navbar-brand:hover .logo-sub {
  color: #666;
}
.navbar {
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.nav .glyphicon {
  font-size: .9em;
  margin-right: 4px;
  top: 0;
}
.nav a {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  color: #aaa;
  font-size: 16px;
}
.toTopStyles {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #fff;
  border-radius: 5px;
  display: block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  display: none;
}
.nav-scrolling .navbar-brand .logo {
  font-size: 1.0em;
}
.nav-scrolling .nav {
  margin-top: 0;
}
.nav-scrolling .navbar-nav a {
  font-size: .8em;
}
.nav-scrolling .toTop {
  display: block;
}
#twitter-feed {
  background: #f9f9f9;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-size: .8em;
}
#twitter-feed p {
  margin: 0;
  text-shadow: 0 1px 0px #fff;
}
.index-list-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.slider-wrap {
  background: url(/img/shadow.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.slider-wrap .slides {
  padding: 0;
}
.slide-desktop,
.slide-mobile {
  opacity: 0;
}
.slide-desktop.bounceInLeft,
.slide-mobile.bounceInRight {
  opacity: 1.0;
}
.slide-content {
  opacity: 0;
}
.slide-content h2 {
  margin: 5px 0 0;
}
.slide-content p {
  font-size: .9em;
  text-shadow: 0px 1px 0px #ffffff;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 20px 0 15px 0;
}
.divider-dark {
  background: #ccc;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
}
.slide-mobile {
  position: absolute;
  bottom: -35px;
  right: 40px;
}
.flex-viewport {
  padding: 0 0 20px 0;
}
.flex-control-nav {
  background: url(../img/shadow-bottom.png) no-repeat center top;
  padding: 20px 0 0 0;
}
#content {
  padding: 30px 0 60px 0;
}
#content h2 {
  margin: 10px 0 30px 0;
}
#content .page-featured-image {
  max-height: 200px;
  overflow: hidden;
}
.content-section {
  margin: 0 auto 40px auto;
}
.service {
  cursor: pointer;
  color: #666;
  display: block;
  margin: 0;
  padding: 5px 30px 5px 10px;
  font-size: 1.1em;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.service .fa-angle-down,
.service .fa-angle-up {
  position: absolute;
  top: 10px;
  right: 10px;
}
.service:hover {
  color: #000;
}
.service-description {
  display: none;
  color: #666;
  padding: 10px;
  font-size: .85em;
  font-weight: 100;
  line-height: 140%;
}
pre.prettyprint {
  max-height: 800px;
}
.article-post {
  margin-bottom: 50px;
}
.img-testimonial {
  width: 200px;
  float: left;
  margin: 30px 40px 20px 0;
}
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar > ul > li {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-shadow: inset 0px -1px 0px 0px #ffffff;
}
#sidebar > ul.pagination > li {
  padding: 0;
  border: none;
}
#sidebar .widgettitle {
  margin: 0 0 5px 0;
  font-size: 1.4em;
  color: #666;
  border-bottom: 1px solid #ddd;
  padding: 0 0 10px 0;
  cursor: pointer;
}
#sidebar ul ul {
  font-size: .8em;
}
.widget ul,
.widget form,
.widget .tagcloud {
  display: none;
}
.latest-posts h3 {
  color: #333;
}
#resume {
  position: relative;
}
#resume .resume-panel {
  margin-bottom: 40px;
}
#resume h2 {
  margin: 0;
  color: #333;
}
#resume h3,
#resume h4 {
  margin: 0 0 15px;
  color: #999;
  font-size: 22px;
}
#resume h3 .job-title,
#resume h4 .job-title {
  font-style: italic;
  font-weight: 100;
}
table th {
  font-weight: 400;
}
label {
  font-weight: 400;
}
#work-wrap div.work-item:nth-child(odd) {
  background: #f5f5f5;
}
#work-wrap .work-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
#work-wrap .work-item p {
  font-size: 14px;
}
#work-wrap .resume-timestamp {
  margin-top: 7px;
}
#work-wrap .resume-timestamp .label {
  font-weight: 100;
}
.resume-actions {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 20px;
  top: 70px;
}
.resume-actions.scrolling {
  display: block;
}
.tab-pane {
  padding: 20px;
}
.scrollSpyWrap {
  background: #fff;
}
.scrollSpyWrap.fixed {
  width: 22%;
  position: fixed;
  top: 80px;
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
}
.resume-nav_header {
  color: #666!important;
  font-weight: 400!important;
  border-radius: 0!important;
}
.active .resume-nav_header {
  color: #fff!important;
}
.work-view_toggler {
  padding: 0 0 20px 0;
}
.work-view_toggler .glyphicon {
  font-size: 15px;
}
.work-panel_view .row {
  margin-bottom: 30px;
}
.work-panel p {
  padding: 10px;
  line-height: 130%;
  font-size: 14px;
}
.work-panel .img-thumbnail:hover {
  background: #eee;
}
.work-image {
  position: relative;
}
.work-image span {
  background: #000;
  position: absolute;
  right: 0;
  bottom: 10px;
  color: #fff;
  padding: 5px 10px;
  opacity: .9;
  font-size: .9em;
}
.services-list {
  min-height: 350px;
  margin: 0;
}
.services-list .fa {
  color: #679cdd;
  text-shadow: 0 1px #fff;
}
.services-list h3 {
  text-shadow: 0 1px #fff;
}
.iframe-demo {
  width: 100%;
  min-height: 600px;
  border: none;
}
#footer {
  background: #fff;
  border-top: 1px solid #bbb;
  padding: 20px 0 40px 0;
}
@media (max-width: 1024px) {
  .navbar-brand {
    width: 325px;
    padding: 10px;
  }
  .navbar-brand img {
    width: 100%;
  }
  .nav {
    margin-top: 0;
  }
  .nav a {
    font-size: .8em;
  }
}
@media (max-width: 991px) {
  .slide-mobile {
    height: 100%;
    right: 10px;
  }
}
@media (max-width: 767px) {
  .nav {
    background: #fff;
  }
  .logo-sub {
    display: none;
  }
  .toTop {
    display: block;
  }
  .work-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .work-item .col-sm-12 {
    width: 100%;
    padding: 10px 20px;
  }
  .work-item .col-sm-9 {
    -ms-flex-order: 2;
    order: 2;
    width: 80%;
    padding: 10px 30px 10px 0px;
  }
  .work-item .col-sm-9 .resume-timestamp {
    display: block;
    float: none !important;
  }
  .work-item .col-sm-9 .resume-timestamp .label {
    float: right;
  }
  .work-item .col-sm-3 {
    -ms-flex-order: 1;
    order: 1;
    width: 20%;
  }
  .work-item .col-sm-3 img {
    width: 100%;
    margin-top: 15px;
  }
}
@media (max-width: 420px) {
  .navbar-brand {
    width: 60%;
  }
  .nav-scrolling .navbar-brand img,
  .navbar-brand img {
    width: 100%;
  }
  .slider-wrap {
    margin-top: 0;
  }
  .slide-mobile {
    height: 110%;
    right: 0;
  }
  .slide-content {
    margin-top: 45px;
  }
  #content {
    padding: 30px 0;
  }
  .work-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .work-item .col-sm-9,
  .work-item .col-sm-12 {
    -ms-flex-order: 2;
    order: 2;
    width: 75%;
    padding: 10px 20px 10px 0px;
  }
  .work-item .col-sm-9 .resume-timestamp,
  .work-item .col-sm-12 .resume-timestamp {
    display: block;
    float: none !important;
  }
  .work-item .col-sm-9 .resume-timestamp .label,
  .work-item .col-sm-12 .resume-timestamp .label {
    float: right;
  }
  .work-item .col-sm-3 {
    -ms-flex-order: 1;
    order: 1;
    width: 25%;
  }
  .work-item .col-sm-3 img {
    width: 100%;
    margin-top: 15px;
  }
}
@media print {
  .print-page-btns {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
