body {
  margin-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 150%;
  font-size: 1.6em;
  background: #eee;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5 {
  font-family: 'Oswald', sans-serif;
  color: #679cdd;
  font-weight: 100;
  line-height: 130%;
}

p {
  font-size: 1.0em;
}

a {
  font-size: 1.0em;
}

h3 {
  a {
    font-size: 1.0em;
  }

  &.col-sm-12 {
    margin: 10px 0 15px 0;
  }
}