.carousel {
  li {
    margin-right:5px
  }
}

.flex-direction-nav {
  a {
    text-decoration:none;
    display:block;
    width:40px;
    height:40px;
    margin:-20px 0 0;
    position:absolute;
    top:50%;
    z-index:10;
    overflow:hidden;
    opacity:0;
    cursor:pointer;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;

    &:before {
      font-family:flexslider-icon;
      font-size:40px;
      display:inline-block;
      content:'\f001'
    }

    &.flex-next:before {
      content:'\f002'
    }
  }

  .flex-prev {
    left:-50px
  }

  .flex-next {
    right:-50px;
    text-align:right
  }

  .flex-disabled {
    opacity:0!important;
    filter:alpha(opacity=0);
    cursor:default;
    z-index:-1
  }
}

.flexslider:hover .flex-direction-nav {
  .flex-prev {
    opacity:.7;
    left:10px;

    &:hover {
      opacity:1
    }
  }
  .flex-next {
    opacity:.7;
    right:10px;

    &:hover {
      opacity:1
    }
  }
}

.flex-pauseplay {
  a {
    display:block;
    width:20px;
    height:20px;
    position:absolute;
    bottom:5px;
    left:10px;
    opacity:.8;
    z-index:10;
    overflow:hidden;
    cursor:pointer;
    color:#000;

    &:before {
      font-family:flexslider-icon;
      font-size:20px;
      display:inline-block;
      content:'\f004'
    }

    &:hover {
      opacity:1
    }

    &.flex-play:before {
      content:'\f003'
    }
  }
}

.fa-fw,
.fa-li,
.flex-control-nav {
  text-align:center
}

.flex-control-nav {
  width:100%;

  li {
    margin:0 6px;
    display:inline-block;
    zoom:1;
  }
}

.flex-control-paging li a {
  width:11px;
  height:11px;
  display:block;
  background:#666;
  background:rgba(0,0,0,.5);
  cursor:pointer;
  text-indent:-9999px;
  -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.3);
  -moz-box-shadow:inset 0 0 3px rgba(0,0,0,.3);
  -o-box-shadow:inset 0 0 3px rgba(0,0,0,.3);
  box-shadow:inset 0 0 3px rgba(0,0,0,.3);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;

  &:hover {
    background:#333;
    background:rgba(0,0,0,.7);
  }

  &.flex-active {
    background:#000;
    background:rgba(0,0,0,.9);
    cursor:default;
  }
}

.fa.fa-pull-left,
.fa.pull-left {
  margin-right:.3em
}

.fa,
.fa-stack {
  display:inline-block
}

.flex-control-thumbs {
  margin:5px 0 0;
  position:static;
  overflow:hidden;

  li {
    width:25%;
    float:left;
    margin:0;
  }

  img {
    width:100%;
    height:auto;
    display:block;
    opacity:.7;
    cursor:pointer;
    -moz-user-select:none;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -ms-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease
  }

  img:hover {
    opacity:1
  }

  .flex-active {
    opacity:1;
    cursor:default
  }
}

@media screen and (max-width:860px){
  .flex-direction-nav {
    .flex-prev {
      opacity:1;
      left:10px;
    }

    .flex-next {
      opacity:1;
      right:10px
    }
  }
}